.cardsContainer{
    margin-top: 25px !important;
}

.Items{
    height:121px;
    width: 344px;
    display:grid;
    grid-template-columns: 8px 92px 244px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.Items .ItemsSideColor{
    background-color:#27AE60;
}

.Items .DepartmentsSideColor{
    background-color:#AA12F1;
}

.Items .UsersSideColor{
    background-color: rgba(255,0,0, 0.5)
}




.iconStyle{
    font-size: 54px !important;
    color: rgba(0,0,0,0.5) !important;
    margin-left: 9px !important;
    margin-right: 9px !important;
}

.Content{
    color: rgba(0,0,0,0.5) !important;
}

.ContentTitle{
    margin-top:25px !important;
    margin-bottom: 2.5px;
    font-size: 1.4em !important;
    font-weight: bold !important;
}

.ContentValue{
    margin-top:5px !important;
    font-size: 1.847em !important;
}

.Department{
    height:121px;
    width: 344px;
    background-color: violet;
}

.Users{
    height:121px;
    width: 344px;
    background-color: orangered;
}

