.container{
    margin-top: 15px;
}

.bookContainer{
    margin-top: 15px;
    height:75vh;
    overflow: auto;
    border: 0.5px solid rgba(44, 62, 80,0.5);
}

.borrowedBookContainer{
    height:200px;
    overflow: auto;
    border: 0.5px solid rgba(44, 62, 80,0.5);
}

.borrowersNameContainer{
    width: 100% !important;
    margin-top:50px;
}

.mt1{
    margin-top: 10px;
}

.mt2{
    margin-top: 20px !important;
}

.bgSuccess{
    background-color: #27ae60 !important;
}

.floatRight{
    float:right;
}

