.container{
    margin-top: 15px;
}

.bookContainer{
    height:350px;
    overflow: auto;
    border: 0.5px solid rgba(44, 62, 80,0.5);
}

.borrowedBookContainer{
    height:150px;
    overflow: auto;
    border: 0.5px solid rgba(44, 62, 80,0.5);
}